# Please indent options with one tab when editing defaults in
# https://github.com/stripe-internal/marionette-puppet-config/blob/master/modules/git/templates/gitconfig.erb
# That matches how "git config --global" edits the file.

[user]
  name = "David Laprade"
  email = "davidlaprade@stripe.com"
[push]
  default = simple
# http://stackoverflow.com/questions/18257622/why-is-git-core-preloadindex-default-value-false
[core]
  preloadindex = true
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  editor = vim
[alias]
  pl = "!git pull --rebase origin `git rev-parse --abbrev-ref HEAD`"
  p = "!git push origin `git rev-parse --abbrev-ref HEAD`"
  pf = "!git push --force origin `git rev-parse --abbrev-ref HEAD`"
  st = status -uno
  s = status -sb
  a = add -A
  cm = commit --verbose
  c = checkout
  cb = checkout -b
  bd = branch -d
  b = branch
  d = diff
  logv = log --pretty=fuller
  uc = reset --soft HEAD^
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
  # https://confluence.corp.stripe.com/display/ENG/Configuring+git+to+only+fetch+your+branches
  fa = fetch --all
  am = am --ignore-whitespace
  cp = cherry-pick
  dc = diff --cached
  ap = add -p
  # get list of recent branches
  rb = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  fixup = !sh -c 'git commit --fixup=$1' -
  squash = !sh -c 'git commit --squash=$1' -
  rc = rebase --continue
  ri = rebase --interactive --autosquash
  lg = log --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
  files-since = "!git diff --name-only $(git merge-base HEAD $1) | xargs ls 2>/dev/null && :"
  files-since-master = "!git files-since origin/master && :"
[color]
  ui = auto
